body{
    margin: 0%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

main{
    position: relative;
    background-color: #B59447;
}

.fullScreen{
    background-color: #1E212B;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
}

.jouer, .scoreFinal{
    position: relative;
    background-color: #1E212B;
    opacity: 90%;
    width: 100vw;
    height: 100%;
    z-index: 1;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scoreFinal{
    position: absolute;
    display: none;
    z-index: 10;
}

.jouer>p,.scoreFinal>p{
    opacity: 100%;
    margin: 2% 4%;
}

.scoreFinal>p{
    margin: 0%;
}

.jouer>button,.scoreFinal>a>button{
    background-color: #FFAE00;
    opacity: 100%;
    padding: 2% 4%;
    margin: auto;
}

.sol{
    position: absolute;
    height: 2%;
    background-color: #7D5651;
}

.addSol{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    border: white solid 0px;
    background-color: #BC3F51;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.menuSol{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 30%;
    height: 100%;
    background-color: #1E212B;
    transform: translateX(-100%);
    transition: 0.2s;
}

.menuSol.open{
    transform: translateX(0%);
}

.menuSol>.sols>.sol{
    position: static;
    padding: 2%;
    margin: 16% auto;
}

button.go{
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: 1%;
    transform: translateX(-50%);
    background-color: #00ffff;
    border: snow solid 2px;
    border-radius: 10%;
    padding: 1% 2%;
    font-size: 20px;
}

button.nv_next{
    position: absolute;
    top: 0%;
    left: 60%;
    transform: translateX(-50%);
}

.joueur{
    position: absolute;
    top: 0%;
    left: 0%;
}

.hidden{
    display: none;
}