body{
  background-color: rgb(39, 128, 64);
  display: flex;
  justify-content: center;
  position: relative;
}

canvas{
  background-color: black;
  border: 1px solid green;
}

.diag{
  z-index: 50;
  position: absolute;
  bottom: 20%;
  padding: 10px;
  background-color: rgb(199, 190, 190);
  font-size: 20pt;
  text-align: center;
  border-radius: 10px;
  height: max-content;
}

#startButton{
  position: fixed;
  top: 81%;
  left: 43%;
  border-radius: 10px;
  background-color: #FEAD4F;
  color: black;
  font-size: 24pt;
  z-index: 11;
}


#victoryMessage {
  text-align: center;
  display: none;
  color: green;
  z-index: 50;
  position: absolute;
  top: 81%;
  left: 36%;
  font-size: 24pt;
  background: #FEAD4F;
  padding: 10px;
  border-radius: 10px;
}

span{
  font-size: 13pt;
}

#gameOverMessage {
  display: none;
  color: red;
  z-index: 13;
  position: absolute;
  top: 40%;
  left: 28%;
  font-size: 24pt;
  background: #FEAD4F;
  padding: 10px;
  transition: 0.2s;
  border-radius: 10px;
}

#restart-btn{
  position: fixed;
  top: 81%;
  left: 43%;
  border-radius: 10px;
  background-color: #FEAD4F;
  color: black;
  font-size: 24pt;
  z-index: 11;
}

button{
  position: fixed;
  top: 40%;
  left: 28%;
  border-radius: 10px;
  background-color: #FEAD4F;
  color: black;
  font-size: 24pt;
  z-index: 11;
}

/* Déplacement tectile telephone */

.Up{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  clip-path: polygon(51% 45%, 0 0, 100% 0);

}

.Left{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  clip-path: polygon(51% 45%, 0 0, 0 100%);

}

.Right{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  clip-path: polygon(51% 45%, 100% 100%, 100% 0);

}

.Down{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
  clip-path: polygon(51% 45%, 0 100%, 100% 100%);

}

section>img{
  display: block;
  z-index: 12;

}

.Up>img{
  position: absolute;
  top: 10%;
  left: 42%;
}


section>.img2{
  animation: opacity 3s;
}


@keyframes opacity {
  from{
    display: block;
    opacity: 1;
  }
  to{
    display: none;
    opacity: 0;
  }
}