@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background-color: #270040;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--background-color);
}

.animation {
    position: fixed;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

img {
    width: 100%;
    height: auto;
}

.logoDiv {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 10% 0 10%;
}

.bottomDiv {
    color: white;
    font-size: 25px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0 10% 0 10%;
}

.bottomDiv p {
    margin: 20px 0 0 0;
}

.bottomDiv a {
    background: linear-gradient(90deg, #FEAD4F 0%, #FB4E2F 100%);
    text-decoration: none;
    color: black;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 20px;
}