body{
    margin: 0%;
    background-color: #333;
    color: white;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: relative;
    /* background-color: #1E212B; */
    background-image: url("../img/img_TSE.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.fullScreen{
    background-color: #1E212B;
    width: 100%;
    height: 100%;
    z-index: 7;
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
}

.jouer, .scoreFinal{
    position: relative;
    background-color: #1E212B;
    opacity: 90%;
    width: 100vw;
    height: 100%;
    z-index: 6;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scoreFinal{
    position: absolute;
    display: none;
    z-index: 10;
}

.jouer>p,.scoreFinal>p{
    opacity: 100%;
    margin: 2% 4%;
}

.scoreFinal>p{
    margin: 0%;
}

.jouer>button,.scoreFinal>a>button{
    background-color: #FFAE00;
    opacity: 100%;
    padding: 2% 4%;
    margin: auto;
}

.rythm{
    position: absolute;
    width: 30%;
    height: 30%;
    border: black solid 4px;
    z-index: 5;
}

.G>.rythm{
    border-right: none;
}

.D>.rythm{
    border-left: none;
}

.rythm#GH{
    top: 4%;
    left: 4%;
}

.rythm#DH{
    right: 4%;
    top: 4%;
}

.rythm#DB{
    right: 4%;
    bottom: 4%;
}

.rythm#GB{
    bottom: 4%;
    left: 4%;
}

.zone{
    position: absolute;
    /* width: 152px;
    height: 152px; */
    border: cyan solid 4px;
    border-radius: 100%;
    z-index: 5;
}

.G>.rythm>.zone{
    left: 0%;
}

.D>.rythm>.zone{
    right: 0%;
}

.note{
    position: absolute;
    background-color: #00ffff;
    border: cyan solid 0px;
    border-radius: 100%;
    opacity: 0%;
}

.G>.rythm>.partition>.note{
    left: 100%;
    animation: bouge_noteG 1.5s linear;
    animation-play-state: paused;
}

.D>.rythm>.partition>.note{
    right: 100%;
    animation: bouge_noteD 1.5s linear;
    animation-play-state: paused;
}

.partition{
    height: 2px;
    width: 50vw;
    position: absolute;
    z-index: 4;
}

.G>.rythm>.partition{
    left: 0%;
}

.D>.rythm>.partition{
    right: 0%;
}

.score{
    color: white;
    font-size: 64px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.message{
    color: #0CAEE8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.perfect{
    color: greenyellow;
}

.good{
    color: orange;
}

.miss{
    color: red;
}

@keyframes bouge_noteG{
    25%{opacity: 0%;}
    50%{opacity: 100%;}
    90%{opacity: 100%;}
    100%{
        left: 0%; 
        transform: translateX(-50%);
        opacity: 0%;
    }
}

@keyframes bouge_noteD{
    25%{opacity: 0%;}
    50%{opacity: 100%;}
    90%{opacity: 100%;}
    100%{
        right: 0%; 
        transform: translateX(50%);
        opacity: 0%;
    }
}