body{
    margin: 0;
    background-color: #333333;
}

canvas{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

svg{
    position: fixed;
    /*z-index: -1;*/
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}